CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_HAS_SUBTARGETS=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_netcore_n30pro=y

# 基础编译选项
CONFIG_DEVEL=y
CONFIG_TOOLCHAINOPTS=y

# 基础工具与 Web 控制台
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-mod-admin-full=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_luci-i18n-base-zh-cn=y
